{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>


<div class="container d-flex justify-content-center mt-5">
    <div class="col-md-10 col-lg-4 border rounded p-4 shadow-sm">

        <form method="POST" enctype="multipart/form-data">
            <h3 class="text-center mb-4">Signup</h3>

            <!-- Full Name -->
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" class="form-control" name="fullname" required>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" required>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>

            <!-- Image -->
            <div class="mb-3">
                <label class="form-label">Image</label>
                <input type="file" class="form-control" name="image" required>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-100 mt-3">Signup</button>
            </div>
            <p class="text-center mt-3">Already Have Account <a href="/">Log In</a></p>
        </form>

    </div>
</div>

{% endblock content %}
